---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Socials from "@components/Socials.astro";
import CardIndex from "@components/CardIndex.astro";
// import PostsIndex from "@components/PostsIndex.astro";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Deregital</h1>

      <p>Descripción a gusto</p>
      <p>
        Read the blog posts or check
        <LinkButton
          className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
          href="https://github.com/satnaing/astro-paper#readme"
        >
          README
        </LinkButton> for more info.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <section>
      <h1>Quiénes somos</h1>
      <p>Textito</p>
    </section>

    <section>
      <h1>Nuestros productos</h1>
      <div class="grid grid-cols-2 grid-rows-1 gap-x-4">
        <CardIndex
          title="Producto 1"
          desc="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
          href="#"
        />
        <CardIndex
          title="Producto 2"
          desc="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
          href="#"
        />
      </div>
    </section>

    <section>
      <h1>Clientes</h1>
      <div class="grid grid-cols-2 grid-rows-1 gap-x-4">
        <div>
          <img src="https://placehold.co/360x200" alt="Cliente 1" />
          <h3 class="mt-2 text-xl font-bold">Cliente 1</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
            excepturi illo eum odio, est perspiciatis atque doloribus pariatur,
            explicabo minus distinctio. Ad nemo eligendi cum obcaecati
            perspiciatis reiciendis praesentium. Totam.
          </p>
        </div>
        <div>
          <img src="https://placehold.co/360x200" alt="Cliente 2" />
          <h3 class="mt-2 text-xl font-bold">Cliente 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
            excepturi illo eum odio, est perspiciatis atque doloribus pariatur,
            explicabo minus distinctio. Ad nemo eligendi cum obcaecati
            perspiciatis reiciendis praesentium. Totam.
          </p>
        </div>
      </div>
    </section>

    <!-- <PostsIndex /> -->

    <Footer />
  </main>

  <style>
    /* ===== Hero Section ===== */
    section {
      @apply pb-6 pt-8;
    }
    h1 {
      @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    #hero .rss-link {
      @apply mb-6;
    }
    #hero .rss-icon {
      @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    section p {
      @apply my-2;
    }
    .social-wrapper {
      @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
      @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }
  </style>
</Layout>
