---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Socials from "@components/Socials.astro";
import CardIndex from "@components/CardIndex.astro";
// import PostsIndex from "@components/PostsIndex.astro";
import { SOCIALS } from "@config";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Deregital</h1>

      <p class="text-justify">
        ¡Hola! Somos <b>deregital</b>, el acompañamiento que tu organización
        necesita para atravesar el complejo camino de la transformación digital. <br
        />
        Empoderamos emprendedores y negocios a través de soluciones y desarrollos
        tecnológicos personalizados y acompañamiento estratégico continuo, que va
        mucho más allá del software.
      </p>
      <!-- Read the blog posts or check
          <LinkButton
            className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
            href="https://github.com/satnaing/astro-paper#readme"
          >
            README
          </LinkButton> for more info.
        </p> -->
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <section>
      <h1>Quiénes somos</h1>
      <p class="text-justify">
        Somos una <u>consultora joven</u>, apasionada por la tecnología y con
        una red de profesionales en el rubro tecnológico y de negocios. <br />
        Tenemos un enfoque sistémico que nos distingue. Creemos en el software como
        una herramienta muy poderosa, pero que solo tiene sentido cuando se integra
        de manera estratégica en el negocio de nuestros clientes, teniendo en cuenta
        el impacto que pueden generar estos cambios. <br />

        Contamos con colaboradores con intereses y áreas de conocimiento que van
        más allá de la tecnología, lo que nos permite abordar los desafíos desde
        múltiples perspectivas, y encontrar las soluciones más adecuadas. <br />

        No solo hacemos código; nos convertimos en socios estratégicos en tu
        camino hacia el crecimiento y la modernización.
      </p>
    </section>

    <section>
      <h1>Nuestros productos</h1>
      <div class="grid grid-cols-2 grid-rows-1 gap-x-4">
        <CardIndex
          title="Consultoría y desarrollos a medida"
          desc={`Ofrecemos servicios de consultoría para encontrar la solución más adecuada para tus problemas. Analizamos a fondo tus procesos y necesidades, tanto para recomendar como para desarrollar sistemas que realmente te ayuden.
          A todos nuestros clientes se les asigna un agente de Customer Success, que te va a acompañar en cada paso que tomes, desde conocer tu negocio, desarrollo de soluciones, hasta la implementación y asegurarse del éxito de la misma.`}
          href="#"
        />
        <CardIndex
          title="E-Manager"
          desc={`Si el recurso principal de tu negocio son las relaciones que tenés con tus clientes, pero necesitás escalar la forma de relacionarte con ellos, E-Manager es la solución para vos.
            E-Manager es nuestra primera aplicación B2B que desarrollamos para que puedas conocer a tus clientes a la perfección.
            - CRM para llevar un registro de tus contactos
            - Vinculación con WhatsApp, para automatizar y envíar mensajes masivos.
            - Etiquetado avanzado para cada uno de tus clientes`}
          href="#"
        />
      </div>
    </section>

    <section>
      <h1>Clientes</h1>
      <div class="grid grid-cols-2 grid-rows-1 gap-x-4">
        <div>
          <img src="https://placehold.co/360x200" alt="Osmosys" />
          <h3 class="mt-2 text-xl font-bold">Osmosys</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
            excepturi illo eum odio, est perspiciatis atque doloribus pariatur,
            explicabo minus distinctio. Ad nemo eligendi cum obcaecati
            perspiciatis reiciendis praesentium. Totam.
          </p>
        </div>
        <div>
          <img src="https://placehold.co/360x200" alt="Expo Desfiles" />
          <h3 class="mt-2 text-xl font-bold">Expo Desfiles</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
            excepturi illo eum odio, est perspiciatis atque doloribus pariatur,
            explicabo minus distinctio. Ad nemo eligendi cum obcaecati
            perspiciatis reiciendis praesentium. Totam.
          </p>
        </div>
      </div>
    </section>

    <!-- <PostsIndex /> -->

    <Footer />
  </main>
  <style>
    /* ===== Hero Section ===== */
    section {
      @apply pb-6 pt-8;
    }
    h1 {
      @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
    }
    #hero .rss-link {
      @apply mb-6;
    }
    #hero .rss-icon {
      @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
    }
    section p {
      @apply my-2;
    }
    .social-wrapper {
      @apply mt-4 flex flex-col sm:flex-row sm:items-center;
    }
    .social-links {
      @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }
  </style>
</Layout>
