---
const { title, href } = Astro.props;
import { type HTMLTag } from 'astro/types';

export interface Props {
  title: string;
  href?: string;
}

const Element: HTMLTag = href ? 'a' : 'div';
---

<Element
  href={href}
  class='block w-full rounded-lg border border-gray-200 bg-white p-6 shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700'
>
  <h5
    class='mb-2 text-2xl font-bold tracking-tight text-skin-base/90 dark:text-white'
  >
    {title}
  </h5>
  <span class='text-balance font-normal text-gray-700 dark:text-gray-400'>
    <slot />
  </span>
</Element>
